<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title> Alquiler de cohes | Rent a car</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" th:href="@{/index}">Bienvenidos a Rent a car</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/vistaIndex}">Inicio</a>
            </li>
               <li class="nav-item">
              <a class="nav-link js-scroll-trigger" th:href="@{/vistaContacto}">Contacto</a>
            </li>
          </ul>
           <a class="btn btn-primary btn-lg" th:href="@{/vistaLogin}">Logout</a>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-black">
      <div class="container text-center">
        <h1>Registrar Nuevo Cliente</h1>
        
      </div>
    </header>
      
      <!--FORM GROUP  -->
      
      <br></br>
   <form class="form-horizontal" th:action="@{/addCliente}" method="post">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="textinput">DNI:</label>  
  <div class="offset-4 col-md-4 offset-4">
  <input th:name="dni"  class="form-control input-md" type="text" maxlength="9" pattern="(([X-Z]{1})([-]?)(\d{7})([-]?)([A-Z]{1}))|((\d{8})([-]?)([A-Z]{1}))" required="required" />
 
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="textinput">Nombre:</label>  
  <div class="offset-4 col-md-4 offset-4">
  <input th:name="nombre"  class="form-control input-md" type="text" required="required" />
  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="textinput">Apellidos:</label>  
  <div class="offset-4 col-md-4 offset-4">
  <input th:name="apellidos"  class="form-control input-md" type="text" required="required" />
  
  </div>
</div>
    
    
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="textinput">Direccion:</label>  
  <div class="offset-4 col-md-4 offset-4">
  <input th:name="direccion"  class="form-control input-md" type="text" required="required" />
  </div>
  </div>

<!-- Text input-->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label"  for="textinput">Email:</label>  
  <div class="offset-4 col-md-4 offset-4">
  <input th:name="email"  placeholder="you@hotmail.com" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control input-md" required="required" />
 
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="passwordinput">Password:</label>
  <div class="offset-4 col-md-4 offset-4">
    <input th:name="pass"  class="form-control input-md" type="password" required="required" />
  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="textinput">Tlfno:</label>  
  <div class="offset-4 col-md-4 offset-4">
  <input th:name="tlfno" onkeypress="return justNumbers(event);" maxlength="9" class="form-control input-md" type="text" required="required" />
  
  </div>
</div>
    

<!-- Button -->
<div class="form-group">
  <label class="offset-4 col-md-4 offset-4 control-label" for="singlebutton"></label>
  <div class="offset-4 col-md-4 offset-4">
    <button type="submit" class="btn btn-success">Guardar</button>
  </div>
</div>

</fieldset>
</form>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
   

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	<script>
		function justNumbers(e)
		{
		var keynum = window.event ? window.event.keyCode : e.which;
		if ((keynum == 8) || (keynum == 46))
		return true;
		
		return /\d/.test(String.fromCharCode(keynum));
		}
	</script>
	
  </body>

</html>
